{% extends "includes/base.html.twig" %}
{% block header %}
{% endblock %}

{% block body %}
    {{ include("includes/_breadcrumb.html.twig", {'page': 'reprise'}) }}
    {% if iln.skipReasons|length > 0 %}
        <p>Accès direct :
        <ul>
            {% for id, skipGroup in recordsByReason %}
                {% if skipGroup.skipReason != "" %}
                    <li><a href="#reason{{ id }}">{{ skipGroup.skipReason }}</a> ({{ skipGroup["records"]|length }})
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        </p>
    {% endif %}
    {% for id, skipGroup in recordsByReason %}
        {% if (id != 0) or (skipGroup["records"]|length != 0) %}
            <a id="reason{{ id }}"/>
            {% if skipGroup['skipReason'] is not null %}
                <h1>{{ skipGroup['skipReason'] }}</h1>
            {% else %}
                {% if iln.skipReasons | length > 0 %}
                    <h1>Raison non précisée</h1>
                {% else %}
                    <h1>Notices à reprendre document en main</h1>
                {% endif %}
            {% endif %}

            {% if skipGroup["records"]|length == 0 %}
                <p class="font-italic">Aucune notice concernée</p>
            {% else %}
                <table class="table">
                    <tr>
                        <th>PPN</th>
                        <th>Titre</th>
                        <th>Année</th>
                        <th>Note</th>
                    </tr>
                    {% for record in skipGroup.records %}
                        <tr>
                            <td>{{ record.ppn }}</td>
                            <td>{{ record.title }}</td>
                            <td>{{ record.year }}</td>
                            <td>{{ record.comment }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}