<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url('home') }}">Accueil</a></li>
        {% if iln is defined %}
            <li class="breadcrumb-item"><a href="{{ url('admin') }}">Admin</a></li>
            <li class="breadcrumb-item"><a href="{{ url('admin_iln', {'code': iln.code, 'secret': iln.secret}) }}">{{ iln.label }}</a></li>
        {% elseif rcr is defined %}
            <li class="breadcrumb-item"><a href="{{ url('admin') }}">Admin</a></li>
            <li class="breadcrumb-item"><a href="{{ url('admin_iln', {'code': rcr.iln.code, 'secret': rcr.iln.secret}) }}">{{ rcr.iln.label }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ rcr.code }}</li>
        {% else %}
            <li class="breadcrumb-item active" aria-current="page">Admin</li>
        {% endif %}
    </ol>
</nav>
