{% extends 'includes/base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    {% include "admin/_breadcrumb.html.twig" %}
    <h1>Admin</h1>
    <h2>Liste des RCR</h2>
        {% if iln.rcrs | length == 0 %}
            <p>Aucun RCR disponible</p>
            <a href="{{ url("admin_iln_populate_rcr", {ilnCode: iln.code}) }}" class="btn btn-primary">Charger les RCR</a>
        {% else %}
    <table class="table">
        <tr>
            <th rowspan="2">Code</th>
            <th rowspan="2">Label</th>
            <th rowspan="2">Notices</th>
            <th colspan="2">Batchs</th>
            <th rowspan="2">Actions</th>
        </tr>
        <tr>
            <th>Créateur</th>
            <th>Unica</th>
        </tr>
        {% set batchCreaSum = 0 %}
        {% set batchUnicaSum = 0 %}
        {% for rcr in iln.rcrs %}
            <tr>
                <td>{{ rcr.code }}</td>
                <td>{{ rcr.label }}</td>
                <td>{{ rcr.numberOfRecords }}</td>
                {% set batchCrea =  rcr.hasBatchRun(constant('App\\Entity\\BatchImport::TYPE_RCR_CREA')) %}
                {% set batchUnica =  rcr.hasBatchRun(constant('App\\Entity\\BatchImport::TYPE_UNICA')) %}
                <td>
                    {% if not batchCrea %}
                        <span class="badge badge-danger">&#10006; </span>
                    {% else %}
                        {% set batchCreaSum = batchCreaSum + batchCrea.countRecords %}
                        <span class="badge badge-success">&#x2714; ({{ batchCrea.countRecords }})</span>
                    {% endif %}
                </td>
                <td>
                    {% if not batchUnica %}
                        <span class="badge badge-danger">&#10006;</span>
                    {% else %}
                        {% set batchUnicaSum = batchUnicaSum + batchUnica.countRecords %}
                        <span class="badge badge-success">&#x2714; ({{ batchUnica.countRecords }})</span>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ url('admin_rcr', {'ilnCode': iln.code, 'rcrCode': rcr.code}) }}">voir le détail</a>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <th colspan="2" class="text-right">Total</th>
            <th>{{ batchCreaSum + batchUnicaSum }}</th>
            <th>{{ batchCreaSum }}</th>
            <th>{{ batchUnicaSum }}</th>
        </tr>
    </table>

        {% endif %}
</div>
{% endblock %}
