{% extends 'includes/base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    {% include "admin/_breadcrumb.html.twig" %}
<style>
    .example-wrapper { margin: 1em auto; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Admin</h1>
    <h2>Opérations de maintenance</h2>
    <ul>
        <li><a href="{{ url("admin_fix_reprises") }}">Fixer le décompte des nombres de reprise</a></li>
    </ul>
    <h2>Accès par ILN / Chantier</h2>
    <table class="table text-center">
        <tr>
            <th rowspan="2">Code</th>
            <th rowspan="2">Label</th>
            <th rowspan="2">RCR</th>
            <th colspan="3">Décompte</th>
            <th rowspan="2">Admin</th>
            <th rowspan="2">Public</th>
        </tr>
        <tr>
            <th>Notices</th>
            <th>Corrigées</th>
            <th>À reprendre</th>
        </tr>
        {% for iln in ilns %}
            <tr>
                <td>{{ iln.code }}</td>
                <td>{{ iln.label }}</td>
                <td>{{ iln.rcrs | length }}</td>
                <td>{{ iln.getNumberOfRecords }}</td>
                <td>{{ iln.getNumberOfRecordsCorrected }}</td>
                <td>{{ iln.getNumberOfRecordsReprise }}</td>
                <td class="text-center"><a href="{{ url('admin_iln', {code: iln.code}) }}">go</a></td>
                <td class="text-center"><a href="{{ url('view_iln', {code: iln.code, secret: iln.secret}) }}">go</a></td>
            </tr>
        {% endfor %}
    </table>
    <h2>Derniers imports</h2>
    <table class="table">
        {% include "admin/_batch_header.html.twig" %}
    {% for import in imports %}
            {% include "admin/_batch.html.twig" with {'batch': import}%}
    {% endfor %}
    </table>

</div>
{% endblock %}
