{% extends "includes/base.html.twig" %}
{% block header %}
{% endblock %}

{% block body %}
    {{ include("includes/_breadcrumb.html.twig", {'page': 'stat'}) }}

    {% if iln.skipReasons | length > 0 %}
        <h1>Reprises à venir (<a href="{{ url("view_iln_reprises", {code: iln.code, secret: iln.secret}) }}">voir le
                détail</a>)</h1>
        <ul>
            {% for skipReason in iln.skipReasons %}
                <li>{{ skipReason.description }} : {{ skipReason.records|length }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <h1>Historique</h1>
    {% for year, yeardetail in stats %}
        {% set corrected = 0 %}
        {% set reprise = 0 %}
        <h3>{{ year }}</h3>
        <table class="table">
        <tr>
            <th>Jour</th>
            <th>Notices corrigées</th>
            <th>Notices à reprendre document en main</th>
            <th>Total</th>
        </tr>
        {% for month, monthdetail in yeardetail %}
            {% for day, daydetail in monthdetail %}
                {% set corrected = corrected + daydetail["1"] %}
                {% set reprise = reprise + daydetail["2"] %}
                <tr>
                    <td>{{ day }}/{{ month }}</td>
                    <td>{{ daydetail["1"] }}</td>
                    <td>{{ daydetail["2"] }}</td>
                    <th>{{ daydetail["1"]  + daydetail["2"] }}</th>
                </tr>
            {% endfor %}
        {% endfor %}
            <tr>
                <th>Total</th>
                <th>{{ corrected }}</th>
                <th>{{ reprise }}</th>
                <th>{{ corrected + reprise }}</th>
            </tr>
        </table>
    {% endfor %}

    <h1>Information sur les chargements de notices</h1>
    <ul>
    {% for rcr in iln.rcrs %}
        <li>{{ rcr.code }} - {{ rcr.label }}
            <ul>
            {% for batch in rcr.batchImports %}
                <li>{{ batch.typeLabel }} : {{ batch.startDate.format("d-m-Y à h:i:s") }}</li>
            {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
{% endblock %}