<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url('home') }}">Accueil</a></li>
        <li class="breadcrumb-item"><a href="{{ url('view_iln', {'code': iln.code, 'secret': iln.secret}) }}">{{ iln.label }}</a></li>
        {% if rcr is defined %}
            <li class="breadcrumb-item"><a href="{{ url('view_rcr', {'ilnCode': iln.code, 'rcrCode': rcr.code, 'secret': iln.secret}) }}">{{ rcr.label }}</a></li>
        {% endif %}

        {% if page == "record" %}
            {% if not empty %}
                <li class="breadcrumb-item active" aria-current="page">Notice n°{{ record.ppn }}</li>
            {% endif %}
        {% elseif page == "stat"%}
            <li class="breadcrumb-item active" aria-current="page">Statistiques</li>
        {% elseif page == "reprise" %}
            <li class="breadcrumb-item active" aria-current="page">Notices à reprendre document en main</li>
        {% elseif page == "iln" %}
            <li class="breadcrumb-item active" aria-current="page">Sélection d'un RCR</li>
        {% elseif page == "iln_langs" %}
            <li class="breadcrumb-item active" aria-current="page">Accès par langue</li>

        {% endif %}

    </ol>
</nav>
