{% extends "base.html.twig" %}
{% block header %}
    {% include "header_settings.html.twig" %}
{% endblock %}

{% block body %}
    <h1>{{  iln.label }}</h1>
    <div class="alert alert-secondary">
        <p>En choisissant un RCR ci-dessous, une notice créée par ce RCR et qui a un problème de lien vous sera proposée.</p><p> Vous pouvez alors :</p>
        <ul>
            <li>faire les corrections nécessaires via Winibw ou Paprika → cette notice ne sera plus proposées</li>
            <li>passer votre tour → cette notice pourra être proposée à nouveau à l'avenir</li>
        </ul>

    </div>
    <table class="table">
        <tr>
           <th>RCR</th>
           <th>Libellé</th>
            <th>Nombre de notices disponibles</th>
        </tr>
    {% for rcr in iln.getRcrs() %}
        <tr>
           <td>{{ rcr.code }}</td>
            <td><a href="{{  url('view_rcr', {ilnCode: iln.code, rcrCode: rcr.code}) }}">{{ rcr.label }}</a></td>
            <td>{{ rcr.numberOfRecordsAvailable }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}