{% extends "base.html.twig" %}
{% block header %}
{% endblock %}

{% block body %}
    {{ include("_breadcrumb.html.twig", {'page': 'stat'}) }}
    {% for year, yeardetail in stats %}
        {% set corrected = 0 %}
        {% set reprise = 0 %}
        <h3>{{ year }}</h3>
        <table class="table">
        <tr>
            <th>Jour</th>
            <th>Notices corrigées</th>
            <th>Notices à reprendre document en main</th>
        </tr>
        {% for month, monthdetail in yeardetail %}
            {% for day, daydetail in monthdetail %}
                {% set corrected = corrected + daydetail["1"] %}
                {% set reprise = reprise + daydetail["2"] %}
                <tr>
                    <td>{{ day }}/{{ month }}</td>
                    <td>{{ daydetail["1"] }}</td>
                    <td>{{ daydetail["2"] }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
            <tr>
                <th>Total</th>
                <th>{{ corrected }}</th>
                <th>{{ reprise }}</th>
            </tr>
        </table>
    {% endfor %}

{% endblock %}