{% extends "base.html.twig" %}
{% block javascripts %}
    <script type="text/javascript">
        var url_raw_record = "{{ url("raw_record", {'ppn': record.ppn}) }}";
    </script>
    {{ encore_entry_script_tags('record_view') }}
    <!-- Renders app.js & a webpack runtime.js file
        <script src="/build/runtime.js"></script>
        <script src="/build/app.js"></script> -->
{% endblock %}

{% block body %}
    <h1 id="h1iln">{{ iln.label }}</h1>
    <h1 id="h1rcr">{{ rcr.label }}</h1>
    {% if empty %}
        <div>
            Plus aucune notice à traiter pour ce RCR !<br/>
            Peut-être un <a href="{{ url('view_iln', {'code': iln.code}) }}">autre RCR de cet ILN</a> ?
        </div>
    {% else %}

        <h1 id="h1ppn">Notice n°<a href="http://www.sudoc.fr/{{ record.ppn }}">{{ record.ppn }}</a></h1>
        <hr/>
        <div>
            <h2>Erreurs trouvées</h2>
            <ul>
                {% for linkError in record.linkErrors %}
                    <li>
                        {{ linkError.errorCode }} - {{ linkError.errorText}}
                        {% if linkError.paprika != ''%}
                            (voir <a href="{{ linkError.paprika }}">sur Paprika</a>)
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>

        {{ form_start(form) }}
        <h2>Action menée sur la notice</h2>
        <div class="row">

            <div class="col-sm text-right">
                {{ form_widget(form.validate) }}
                <p>
                    <small>
                        Plus la peine de la proposer aux collègues
                    </small>
                </p>
            </div>
            <div class="col-sm text-left" style="border-left:2px solid grey">
                {{ form_widget(form.skip) }}
                <p>
                    <small>
                        Il me manque des éléments pour corriger cette notice.
                    </small>
                </p>
            </div>

        </div>
        {{ form_end(form) }}

        <div>
            <h2>Notice unimarc</h2>
            <div id="sudoc_record">
                <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
            </div>
        </div>
    {% endif %}
{% endblock %}
