{% extends "base.html.twig" %}
{% block javascripts %}
    <script type="text/javascript">
        var url_raw_record = "{{ url("raw_record", {'ppn': record.ppn}) }}";
    </script>
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('record_view') }}
    <!-- Renders app.js & a webpack runtime.js file
        <script src="/build/runtime.js"></script>
        <script src="/build/app.js"></script> -->
{% endblock %}

{% block body %}
    <h1>{{ iln.label }}<br/> &rarr; {{ rcr.label }}</h1>
    {% if empty %}
        <div>
            Plus aucune notice à traiter pour ce RCR !<br/>
            Peut-être un <a href="{{ url('view_iln', {'code': iln.code}) }}">autre RCR de cet ILN</a> ?
        </div>
    {% else %}
        <hr/>
        <h2>Notice n°<a href="http://www.sudoc.fr/{{ record.ppn }}">{{ record.ppn }}</a> (<a href="http://www.sudoc.fr/{{ record.ppn }}.xml">voir le XML</a>)</h2>
        <div>

            <div class="alert alert-secondary">
                Cette notice est verrouillée jusqu'à {{ record.locked.format("H:i") }}, ce qui signifie qu'elle ne sera pas proposée à quelqu'un d'autre pour correction pour le moment. Si à {{ record.locked.format("H:i") }} vous n'avez cliqué sur aucun des liens en bas de cette notice (<i>notice corrigée</i> ou <i>je passe mon tour</i>), la notice sera considérée comme "libérée".
            </div>
        </div>
        <div>
            <h2>Erreurs trouvées : </h2>
            <ul>
                {% for linkError in record.linkErrors %}
                    <li>
                        {{ linkError.errorCode }} - {{ linkError.errorText}}
                        {% if linkError.paprika %}
                            (voir <a href="{{ linkError.paprika }}">sur Paprika</a>)
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div>
            <h2>Notice unimarc</h2>
            <div id="sudoc_record">
                <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
            </div>
        </div>

        {{ form_start(form) }}
        <div class="row">
            <div class="col-sm text-right">
                {{ form_row(form.validate) }}
            </div>
            <div class="col-sm text-left">
                {{ form_row(form.skip) }}
            </div>
        </div>
        {{ form_end(form) }}
    {% endif %}
{% endblock %}
